.not-found-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    flex-direction: column;
}

.not-found-go-to-home-page {
    font-size: 30px;
    background-color: #1775ee;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}